.container{
    flex-grow: 1;
}

.body{
    justify-content: center;
    align-items: center;
    width: auto;
    flex-grow: 1;
}

.btn {
    float: right;
}

.playlists {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

span{
    margin: 0 auto;
}